.App {
  text-align: center;
  position: relative;
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

td {
  max-height: 100px
}

header {
  height: max(7vh, 50px);
  width: 100%;
  top: 0%;
  position: sticky;
  background-color: limegreen;
  display: flex;
  z-index: 3;
}

.searchSection {
  position: absolute;
  right: 2vw;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
}

.searchList {
  position: relative;
  width: inherit;
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 15px;
}

.searchList:hover {
  background-color: azure;
}

.dropdown {
  position: fixed;
  background-color: white;
  width: inherit;
}

.searchBar {
  font-size: 16px;
  width: inherit;
  height: max(2vh, 18px);
}

.searchReset {
  position: relative;
  height: max(2vh, 25px);
  transform: translateY(39%);
}

.searchResults {
  list-style-type: none;
  text-align: left;
  padding-inline-start: 0px;
  margin: 0px;
  cursor: pointer;
}

.menuButton {
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  cursor: pointer;
}

.sideBar {
  position: fixed;
  left: 0%;
  width: 40%;
  height: 100%;
  background-color: white;
  z-index: 2;
  box-shadow: 10px 10px 10px lightblue;
}

.basketBar {
  position: fixed;
  right: 0%;
  width: 40%;
  height: 100%;
  background-color: white;
  z-index: 2;
  box-shadow: -10px -10px 10px lightblue;
}

.forms {
  display: flex;
  flex-direction: column;
  width: min(200px, 80%);
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
  text-align: center;
}

.formInputs {
  margin-bottom: 10px;
}

.logoutButton {
  text-align: center;
  width: min(200px, 80%);
  margin-top: 3vh;
}

.errorMessage {
  margin-top: 0;
  font-size: 12px;
  color: red;
}

.successMessage {
  margin-top: 0;
  font-size: 12px;
  color: green;
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideBackToRight{
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}


.Card {
  position: relative;
  border: 1px solid #ddd;
  margin: 10px;
  padding: 4px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  max-height: 10%;
  z-index: 1;
}

.dateStamp {
  position: absolute;
  right: 2%;
  bottom: 2%;
  font-size: 12px;
  color: grey;
}

.pageButtons {
  margin-top: 10px;
  margin-bottom: 20px;
}

.pgb {
  margin-left: 5px;
  margin-right: 5px;
}

.basTop {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 10px;
  border: #ababab;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
}
.bas1 {
  width: 65%;
  padding: 10px;
}
.bas2 {
  width: 35%;
  padding: 10px;
}
.basketName {
  font-size: 16px;
}
.basketDesc{
  font-size: 12px;
}